#about {
    /* border: solid red 1px; */
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 30px;
    padding: 30px 50px;
    width: 1100px;
    color: rgb(48, 48, 223);
    background-color: rgb(164, 215, 215);
    border-radius: 20px;
    text-align: center;

}

ul>li {
    text-align: justify;
    font-size: 25px;
}

#back {
    font-size: 20px;
    border-radius: 15px 15px;
    padding: 10px 10px;
    background-color: rgb(112, 171, 171);
    border-style: none;
    border: none;

}